<a href="https://colab.research.google.com/github/sjbriggsdev/dojo_bootcamp/blob/main/FoodSalesForecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
filename='/content/drive/MyDrive/DATA/sales_predictions.csv'
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

1) How many rows and columns?

In [3]:
df.shape

(8523, 12)

2) What are the datatypes of each variable?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

3) Are there duplicates? If so, drop any duplicates.

In [5]:
df.duplicated().sum()

0

In [ ]:
#There weren't duplicates but if there were, I'd have run this command
df.drop_duplicates()

4) Identify missing values.

In [6]:
#This shows there are missing values in Item_Weight and Outlet_Size
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [12]:
#Given that they looked like simple numeric fields, I didn't see any reason not to just backfill from other data.  
# I did look at option using Imputation Using (Mean/Median) Values in the Medium article but I coudln't make it work and figured we would hit that in the ML module

df['Item_Weight'] = df['Item_Weight'].fillna(method='bfill')
df['Outlet_Size'] = df['Outlet_Size'].fillna(method='bfill')

6) Confirm that there are no missing values after addressing them.

In [13]:
#This shows there are missing values in Item_Weight and Outlet_Size
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

In [31]:
# get all the unique values for each column and see what looks inconsistent.  NOTE: This could probably be a function, if I have time i'll figure that out
isunique = df['Item_Fat_Content'].unique()
isunique.sort()
isunique

array(['Low Fat', 'Regular'], dtype=object)

In [30]:
# I only identified the Item_Fat_Content column as having inconsistent data values

df['Item_Fat_Content'].replace({"LF": "Low Fat", "reg": "Regular","low fat":"Low Fat"}, inplace=True)

8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [35]:
# I found the aggregation method in the Pandas documentation so I figured that made sense for this question.
df.agg(
    {
      "Item_Weight": ["min", "max", "mean"],
      "Item_Visibility": ["min", "max", "mean"],
      "Item_MRP": ["min", "max", "mean"],
      "Item_Outlet_Sales": ["min", "max", "mean"],
    }
)

      Item_Weight  Item_Visibility    Item_MRP  Item_Outlet_Sales
min      4.555000         0.000000   31.290000          33.290000
max     21.350000         0.328391  266.888400       13086.964800
mean    12.812795         0.066132  140.992782        2181.288914